<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .collapse {
            display: none;
        }
        body {
            margin: 0;
            padding: 20px;
            display: grid;
            justify-content: between;
            align-items: center;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div>
    <h2>Добро пожаловать, </h2>
    <p th:text="${name}"></p>
    <p>Ваша роль: <span th:text="${role}"></span></p>
</div>


<div th:if="${role == 'admin'}">
    <a href="/admin/positions">Управление должностями</a><br>
    <a href="/admin/departments">Управление подразделениями</a><br>
    <a href="/admin/changeTypes">Управление типами изменений</a><br>
    <a href="/admin/cities">Управление городами</a><br>
</div>

<div th:if="${role == 'hr_manager'}">
    <a href="/hr/employees">Управление сотрудниками</a><br>
</div>

<!--<div th:if="${role == 'user'}">-->
    <a href="/profile">Мой профиль</a><br>
<!--</div>-->
<div>
    <br>
    <form action="/logout" method="post">
        <button type="submit" class="btn">Выйти из аккаунта</button>
    </form>
</div>

</body>
</html>