<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробная информация о пользователе</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4" th:text="'Пользователь: ' + ${user_object.username}"></h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="'Роль: ' + ${user_object.role}"></h2>
            <p class="card-text" th:text="${user_object.active} == True ? 'Пользователь активен' : 'Пользователь заблокирован'"></p>
        </div>
    </div>
    <div class="mt-3">
        <a th:href="'/admin/users/' + ${user_object.idUser} + '/update'" class="btn btn-dark">Редактировать</a>
        <a href="/admin/users" class="btn">Назад</a>
    </div>
</div>

<!-- Подключение Bootstrap JS и зависимостей -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
