<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>Вход в систему</h1>
<form action="/login" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Войти</button>
</form>

<p th:if="${param.error}" style="color: red;">Неверное имя пользователя или пароль.</p>

<a href="/registration">Нет аккаунта? Зарегистрируйтесь здесь.</a>
</body>
</html>