<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>Регистрация</h1>
<form action="/registration" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Зарегистрироваться</button>
</form>

<p th:if="${message != null}" th:text="${message}" style="color: red;"></p>

<a href="/login">Уже есть аккаунт? Войдите здесь.</a>
</body>
</html>